@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
    color: rgb(26, 26, 26);
    padding: 15px;
    overflow: auto;
    background-color: rgba(0, 0, 0, .04);
}

pre > code {
    background-color: transparent;
    overflow: visible;
    padding: 0;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;

    font-feature-settings: normal;
    font-size: smaller;
    line-height: calc(1em + 1.25ex);
}
